body{
	background: #282828;
}
.body{
	margin: 0 auto;
	width: 1280px;
	background: #dedede;
}
.head{
	padding: 10px 0 12px 40px;
	height: 38px;
	background: #333333;
}
.head img{
	height: 100%;
}
.head ul{
	padding: 11px 0 0 0;
	margin-right: -4px;
	float: right;
}
.head ul li{
	float: left;
	list-style-type:disc;
}
.head ul li a{
	display: block;
	margin-right: 25px;
	color: #fff;
}


.article{
	margin: 20px;
	padding: 0 20px 37px 20px;
	box-shadow: 1px 1px 1px 1px #848484;
	border:1px solid #cbcbcb;
	background: #ffffff;
}
.article-h2{
	padding: 22px 0 0 0;
	font-size: 22px;
	line-height: 58px;
	color: #000019;
}
.article-h3{
	font-size: 16px;
	line-height: 24px;
	color: #797471;
}
.article-h4{
	color: #797471;
	font-size: 12px;
	line-height: 42px;
}
.article p{
	text-indent: 2em;
	font-size: 15px;
	line-height: 27px;
}
.article p a{
	color: #1000ee;
	text-decoration: underline;
}
.article img{
	display: block;
	padding: 16px 0 9px;
}
.article ul{
	margin-left: 20px;
	font-size: 15px;
	line-height: 25px;
}
.article .img-box{
	width: 120px;
	height: 125px;
	border: 1px solid #cdcdcd;
}
.article .img-box {
	margin: 0 0 15px 40px;
}
.article .img-box:last-child{
	margin: 0 0 0 40px;
}
.article .img-box p{
	text-align: center;
	text-indent: 0;
	line-height: 31px;
}
.article .img-box img{
	padding: 0;
	margin: 2px auto 0;
	width: 100px;
	height: 81px;
}
.article ol{
	margin-left: 24px;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}
.article .table{
	display: table;
    table-layout: fixed;
}
.article .table tbody{
	width: 100%;
}
.article .table th{
	display: table-cell;
	background: #333333;
	color: #fdf4f5;
}
.article .table{
	
}
.article .table{
	
}
.article .table{
	
}
.article .table{
	
}


.aside{
	margin: 20px;
	padding: 0 20px 37px 20px;
	box-shadow: 1px 1px 1px 1px #848484;
	border:1px solid #cbcbcb;
	background: #ffffff;
}
.aside h2{
	font-size: 15px;
	line-height: 38px;
	text-indent: 10px;
	border-left: 2px solid #ccc;
}
